.wp-block-group {

	&.has-background {
		color: var(--white);
		margin: 4rem calc(50% - 50vw);
		padding: 4rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.last {
			margin-bottom: 0;
		}

		& .wp-block-group__inner-container {
			margin-left: auto;
			margin-right: auto;
			max-width: var(--max-width);
			padding: 0 2rem;

			@media (--large) {
				padding: 0;
			}
		}


		& + .video-background {
			margin-top: 0;
		}
	}
}